
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: rgb(229, 225, 220);
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
}
.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Optional: for rounded corners */
}

.image {
  transition: transform 0.3s ease, filter 0.3s ease;
  object-fit: cover; /* Ensures the image covers the container */
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.image-container:hover .image {
  transform: scale(1.1); /* Zoom in on hover */
  filter: brightness(1.1); /* Optional: brighten on hover */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%); /* starts off-screen */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* ends at its normal position */
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out forwards;
}

@keyframes pulse-scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.pulse-scale {
  animation: pulse-scale 1.5s ease-in-out infinite;
}

@keyframes bounce-sassy {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
}

.animate-bounce-sassy {
  animation: bounce-sassy 1s infinite;
}
